.m-0 {
    margin: 0;
}

.portfolio-image{
    padding: 5px;
}

.p-0{
    padding: 0;
}

.technologies{
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
}

.custom-link{
    text-decoration: none;
}

.height-match{
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.bottom-right{
    position:absolute; 
    bottom:0;  
    margin-bottom:7px; 
    margin:7px; 
    right: 0;
}

.black{
    background-color: black !important;
    border-color: black;
    color: white !important;
}

.grey{
    background-color: white !important;
    border-color: black;
    color: black !important;
}

.project-title{
    font-weight: bold;
    color: #4c4b4f;
}

.project-tagline{
    font-weight: bold;
    color: #d4a34e;
}

.mb-1{
    margin-bottom: 5px;
}

.mt-1{
    margin-top: 5px;
}

.mt-2{
    margin-top: 10px;
}

.mt-3{
    margin-top: 15px;
}

.hide-text {
    display: none !important;
}

.about-me-text{
    font-size: 16px;
}

.home-section, .about-section, .skills-section{
    background-color: #f8f8f8;
    background-size: fill;
}

.word-origin {
    font-style: italic;
    color: #4c4b4f;
}

.bold{
    font-weight: bold;
}

i.fa-volume-up{
    cursor: pointer;
}

.main-title{
    color: #4c4b4f;
}

.home-text{
    text-align: left;
}

#home{
    background-image: url('/images/portfolio/portfolio_background.jpg');
    background-position: 50% 0px;
    background-size: cover;
    z-index: -2;
}

.transparent div div ul li a{
    color: #d4a34e !important;
}

.mobile-nav  ul li a, .desktop-nav ul li a{
    color: #d4a34e !important;
}

.main-nav{
    background-color: white;
    border-bottom: 1px solid #7575751f;
}

.mobile-on a.logo{
    font-size: 14px !important;
}


@media (max-width: 992px) {
    .navbar-collapse {
        background-color: darkslateblue;
        position: absolute;
        top: 54px;
        left: 100%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 100%;
        transition: all 0.3s ease;
        display: block;
    }
    .navbar-collapse.collapsing {
        height: auto !important;
        margin-left: 50%;
        transition: all 0.3s ease;
        display: block;
    }
    .navbar-collapse.show {
        left: 0;
    }
    .navbar-collapse.show ul li a{
      color: white !important;
      font-weight: bold;
      text-align: center;
  }
}